<h1>Add Image</h1>
<form enctype="multipart/form-data" action="/apartment/image" method="post">
    <input type="file" name="myFile">
    <input hidden type="text" name="title" value='<%= apartment.title %>'>
    <input hidden type="text" name="rent" value='<%= apartment.rent %>'>
    <input hidden type="text" name="description" value='<%= apartment.description %>'>
    <input hidden type="text" name="location" value='<%= apartment.location %>'>
    <input hidden type="text" name="bedrooms" value='<%= apartment.bedrooms %>'>
    <input hidden type="text" name="bathrooms" value='<%= apartment.bathrooms %>'>
    <input hidden type="text" name="amenities" value='<%= apartment.amenities %>'>
    <input hidden type="text" name="roommates" value='<%= apartment.roommates %>'>
    <input hidden type="text" name="id" value='<%= apartment.id %>'>
    <input type="submit" class="btn btn-primary">
</form>
