<!-- SHOW LISTING THAT IS CLICKED ON FROM ALL LISTINGS PAGE -->
<div class="container">
  <h1>
    <%= apartment.title %>
  </h1>
</div>

<div class="listings">

  <div class="container">
    <p><b>Rent</b> $<%= apartment.rent %>
    </p>
  </div>

  <div class="container">
    <p><b>About Listing</b>
      <%= apartment.description %>
    </p>
  </div>

  <div class="container">
    <p><b>Location</b>
      <%= apartment.location %>
    </p>
  </div>

  <div class="container">
    <p><b>Number of Bedrooms</b>
      <%= apartment.bedrooms %>
    </p>
  </div>

  <div class="container">
    <p><b>Number of Bathrooms</b>
      <%= apartment.bathrooms %>
    </p>
  </div>

  <div class="container">
    <p><b>Amenities</b>
      <%= apartment.amenities %>
    </p>
  </div>

  <div class="container">
    <p><b>Number of Current Roommates</b>
      <%= apartment.roommates %>
    </p>
  </div>

  <div class="container">
    <p><b>Tags</b>
    </p>
  </div>
  
</div>

<% if(apartment.image) {%>
  <div class="container"><img src="<%= apartment.image %>" alt="an image" height="200px"></div>

  <form action="/apartment/<%= apartment.id %>?_method=DELETE" method="post">
    <div class="container"><button type="submit" class="btn btn-danger">Delete Listing</button></div>
  </form>
  <% } else { %>
    <% } %>