<!-- SHOULD SHOW LISTING THAT IS CLICKED ON FROM ALL LISTINGS PAGE -->
<h1>Apartment: <%= apartment.title %></h1>

<div class="listings">
<p><%= apartment.title %></p>
<p><%= apartment.rent %></p>
<p><%= apartment.description %></p>
<p><%= apartment.location %></p>
<p><%= apartment.bedrooms %></p>
<p><%= apartment.bathrooms %></p>
<p><%= apartment.amenities %></p>
<p><%= apartment.roommates %></p>
</div>

<% if(apartment.image) {%>
<img src="<%= apartment.image %>" alt="an image" height="200px">
<% } else { %>
  <% } %>
 


<% if(apartment && apartment.tags) { %>
  <% apartment.tags.forEach(function(a) { %>
    <div class="well">
      <h3>
        <a href="/tag/<%= a.id %>"><%= a.title %></a>
      </h3>
    </div>
  <% }) %>
<% } else { %>
  <h3>No listings yet!</h3>
<% } %>