<h1>Apartment Listing</h1>
<p>If no changes are needed please hit submit</p>
<form action="/apartment/<%= apartment.id %>/update?_method=PUT" method="post">
    <input  type="text" name="title" value='<%= apartment.title %>'>
    <input  type="number" name="rent" value='<%= apartment.rent %>'>
    <input  type="text" name="description" value='<%= apartment.description %>'>
    <input  type="text" name="location" value='<%= apartment.location %>'>
    <input  type="number" name="bedrooms" value='<%= apartment.bedrooms %>'>
    <input  type="number" name="bathrooms" value='<%= apartment.bathrooms %>'>
    <input  type="text" name="amenities" value='<%= apartment.amenities %>'>
    <input  type="text" name="roommates" value='<%= apartment.roommates %>'>
    <input  type="text" name="image" value='<%= image %>'>
    <input type="submit" class="btn btn-primary">
</form>