<!-- CREATE TAGS -->
<div class="container">
  <h1 class="pageTitle">
    <%= currentUser.firstName %>'s Listings
  </h1>
</div>

<div class="container">
  <% apartments.forEach(apartment=> { %>
    <div class="well">

      <div class="container">
        <h1>
          <%= apartment.title %>
        </h1>
      </div>

      <div class="container">
        <h1>
          $<%= apartment.rent %>/month
      </div>

      <div class="container">
        <p><b>About Listing</b>
          <%= apartment.description %>
        </p>
      </div>

      <div class="container">
        <p><b>Location</b>
          <%= apartment.location %>
        </p>
      </div>
      <div class="container">
        <p><b>Number of Bedrooms</b>
          <%= apartment.bedrooms %>
        </p>
      </div>

      <div class="container">
        <p><b>Number of Bathrooms</b>
          <%= apartment.bathrooms %>
        </p>
      </div>

      <div class="container">
        <p><b>Amenities</b>
          <%= apartment.amenities %>
        </p>
      </div>

      <div class="container">
        <p><b>Number of Current Roommates</b>
          <%= apartment.roommates %>
        </p>
      </div>

      <section id='add' class='container'>
        <div class='form-wrap'>
          <form action="/tag/new" method="POST">
            <div class="form-group">
              <label for="tag">Tags</label>
              <input type="text" name="name" id="tag" class="form-box"
                placeholder="eg. #petfriendly, #nosmoking, #420friendly, #neverhome"
                values={{tags}}>
            </div>
            <input type="hidden" name="apartmentId" value="<%= apartment.id %>">
            <input type="submit" class="btn btn-primary">
            </form>


        </div>
      </section>

    </div>
    <% }) %>
</div>